<h1>Followers</h1> 

<ul>
	<% @followers.each do |follower| %>
		<li>
			<%= link_to(follower.email, user_path(follower)) %>
		</li>
	<% end %>
</ul>
<%= link_to("Back", user_path(@user), class:"btn btn-dark") %>
